.topPortion3{
    display: flex;
    margin-left: 90px;
    margin-top: 30px;
}
.divElaments{
    margin: auto;
    gap: 20px;
    display: flex;
    margin-top: 25px
}
.Bg{
    text-align: center;
    cursor: pointer;
}

input[type = radio]{
    accent-color: red;
    cursor: pointer;
}

.add-btn-div {
    position: relative;
  }
  
  .income-expence-btns-div {
    position: absolute;
    display: none;
    transition: 0.5s;
  
  }
  
  .btnDiv {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
  }
  
  .btnDiv>button {
    width: 45px;
    color: white;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .animateBtn {
    display: block;
    position: absolute;
    animation-duration: 0.5s;
    animation-name: showInputBox;
    z-index: 1;
    padding: 20px 10px;
  }
  
  @keyframes showInputBox {
    0% {
      top: 25px;
    }
  
    50% {
      top: 100%;
    }
  
    75% {
      top: 100%;
    }
  
    100% {
      top: 100%;
    }
  }
  
  .atag {
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    width: 139px;
    height: 35px;
    border-radius: 0px 10px 10px 10px;
    background: #3F88D8;
    color: #fff;
    ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .incomeSymble {
    cursor: auto;
    background-color: #F9A828;
  }
  
  .expensesSymble {
    cursor: auto;
    background-color: #F92828;
  }